dashboard-flow.json
[{"id":"6b4c7356.a3b6ec","type":"http in","z":"ffda1307.64a6e","name":"","url":"/event-stream","method":"post","upload":false,"swaggerDoc":"","x":130,"y":120,"wires":[["8f625f7d.944ce","3da20e9c.a9b182","b8a40cbb.5e373","a3b4e4e5.6c8668","a6296ea9.a9b07","3f59127f.4ff48e","7d219762.cd3ef8","3a85155b.63acca","88eb03e4.cf73b"]]},{"id":"3da20e9c.a9b182","type":"debug","z":"ffda1307.64a6e","name":"","active":true,"console":"false","complete":"false","x":349,"y":60,"wires":[]},{"id":"8f625f7d.944ce","type":"http response","z":"ffda1307.64a6e","name":"","statusCode":"","headers":{},"x":330,"y":120,"wires":[]},{"id":"d3226e50.15a3a","type":"ui_gauge","z":"ffda1307.64a6e","name":"","group":"e8b9a8a0.c2a2e8","order":0,"width":0,"height":0,"gtype":"gage","title":"Gas Leakage","label":"PPM","format":"{{value}}","min":0,"max":"100","colors":["#03b508","#e6e600","#ca3838"],"seg1":"50","seg2":"75","x":470,"y":180,"wires":[]},{"id":"34d10654.fe3c1a","type":"ui_gauge","z":"ffda1307.64a6e","name":"","group":"cb6d1d16.28de","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"C","format":"{{temperature}}","min":0,"max":"100","colors":["#0080ff","#e6e600","#ca3838"],"seg1":"30","seg2":"40","x":470,"y":260,"wires":[]},{"id":"964f3967.bdbdb8","type":"ui_gauge","z":"ffda1307.64a6e","name":"","group":"cb6d1d16.28de","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{humidity}}","min":0,"max":"100","colors":["#ffff00","#00ff40","#ca3838"],"seg1":"60","seg2":"80","x":460,"y":300,"wires":[]},{"id":"6e7654a7.6dcccc","type":"ui_gauge","z":"ffda1307.64a6e","name":"","group":"e8b9a8a0.c2a2e8","order":0,"width":0,"height":0,"gtype":"gage","title":"Power Consumption","label":"kWh","format":"{{value}}","min":0,"max":"100","colors":["#0080ff","#e6e600","#ca3838"],"seg1":"80","seg2":"90","x":500,"y":220,"wires":[]},{"id":"b8a40cbb.5e373","type":"function","z":"ffda1307.64a6e","name":"","func":"if (msg.payload.unit === \"PPM\") {\n    msg.payload = msg.payload.value;\n    return msg;\n}","outputs":1,"noerr":0,"x":330,"y":180,"wires":[["d3226e50.15a3a"]]},{"id":"a3b4e4e5.6c8668","type":"function","z":"ffda1307.64a6e","name":"","func":"if (msg.payload.unit === \"kWh\") {\n    msg.payload = msg.payload.value;\n    return msg;\n}","outputs":1,"noerr":0,"x":330,"y":220,"wires":[["6e7654a7.6dcccc"]]},{"id":"a6296ea9.a9b07","type":"function","z":"ffda1307.64a6e","name":"","func":"msg.payload = msg.payload.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":260,"wires":[["34d10654.fe3c1a"]]},{"id":"3f59127f.4ff48e","type":"function","z":"ffda1307.64a6e","name":"","func":"msg.payload = msg.payload.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":300,"wires":[["964f3967.bdbdb8"]]},{"id":"1bcef614.7276da","type":"ui_chart","z":"ffda1307.64a6e","name":"","group":"91fd96ea.b3aed8","order":0,"width":0,"height":0,"label":"Gas Leakage (PPM)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":500,"y":360,"wires":[["b6e55d6b.177c7"],["b6e55d6b.177c7"]]},{"id":"7d219762.cd3ef8","type":"function","z":"ffda1307.64a6e","name":"","func":"if (msg.payload.unit === \"PPM\") {\n    msg.topic = msg.payload.ID.substring(0,10);\n    msg.payload = Number(msg.payload.value);\n    return msg;\n}","outputs":1,"noerr":0,"x":330,"y":360,"wires":[["1bcef614.7276da"]]},{"id":"b6e55d6b.177c7","type":"debug","z":"ffda1307.64a6e","name":"","active":true,"console":"false","complete":"false","x":690,"y":360,"wires":[]},{"id":"93cc2875.d98bc8","type":"debug","z":"ffda1307.64a6e","name":"","active":true,"console":"false","complete":"false","x":690,"y":420,"wires":[]},{"id":"816afd46.cb74f","type":"ui_chart","z":"ffda1307.64a6e","name":"","group":"91fd96ea.b3aed8","order":0,"width":0,"height":0,"label":"Power Energy (kWh)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":500,"y":420,"wires":[["93cc2875.d98bc8"],["93cc2875.d98bc8"]]},{"id":"3a85155b.63acca","type":"function","z":"ffda1307.64a6e","name":"","func":"if (msg.payload.unit === \"kWh\") {\n    msg.topic = msg.payload.ID.substring(0,10);\n    msg.payload = Number(msg.payload.value);\n    return msg;\n}","outputs":1,"noerr":0,"x":330,"y":420,"wires":[["816afd46.cb74f"]]},{"id":"8dca3e1a.7bbab","type":"ui_template","z":"ffda1307.64a6e","group":"194df3f1.87a96c","name":"","order":0,"width":"18","height":"9","format":"<script src=\"//code.jquery.com/jquery-1.12.3.min.js\"></script>\n<script src=\"//d3js.org/d3.v4.min.js\"></script>\n<script src=\"//d3js.org/topojson.v1.min.js\"></script>\n<div id=\"container\" height=\"450px\"></div>\n<style>\n.country:hover{\n  stroke: #fff;\n  stroke-width: 1.5px;\n}\ndiv.tooltip {\n  color: #222; \n  background: #fff; \n  padding: .5em; \n  text-shadow: #f5f5f5 0 1px 0;\n  border-radius: 2px; \n  box-shadow: 0px 0px 2px 0px #a6a6a6; \n  opacity: 0.9; \n  position: absolute;\n}\n.graticule {\n  fill: none;\n  stroke: #bbb;\n  stroke-width: .5px;\n  stroke-opacity: .5;\n}\n.equator {\n  stroke: #ccc;\n  stroke-width: 1px;\n}\n</style>\n<script>\nvar baseUri = window.location.host + window.location.pathname;\n// Joins path segments.  Preserves initial \"/\" and resolves \"..\" and \".\"\n// Does not support using \"..\" to go above/outside the root.\n// This means that join(\"foo\", \"../../bar\") will not resolve to \"../bar\"\nfunction join(/* path segments */) {\n\t// Split the inputs into a list of path commands.\n\tvar parts = [];\n\tfor (var i = 0,\n\t    l = arguments.length; i < l; i++) {\n\t\tparts = parts.concat(arguments[i].split(\"/\"));\n\t}\n\t// Interpret the path commands to get the new resolved path.\n\tvar newParts = [];\n\tfor ( i = 0,\n\tl = parts.length; i < l; i++) {\n\t\tvar part = parts[i];\n\t\t// Remove leading and trailing slashes\n\t\t// Also remove \".\" segments\n\t\tif (!part || part === \".\")\n\t\t\tcontinue;\n\t\t// Interpret \"..\" to pop the last segment\n\t\tif (part === \"..\")\n\t\t\tnewParts.pop();\n\t\t// Push new path segments.\n\t\telse\n\t\t\tnewParts.push(part);\n\t}\n\t// Preserve the initial slash if there was one.\n\tif (parts[0] === \"\")\n\t\tnewParts.unshift(\"\");\n\t// Turn back into a single string path.\n\treturn newParts.join(\"/\") || (newParts.length ? \"/\" : \".\");\n}\nfunction onDrawGraph() {\n\td3.select(window).on(\"resize\", throttle);\n\tvar zoom = d3.zoom().scaleExtent([1, 9]).on(\"zoom\", move);\n\tvar c = document.getElementById(\"container\");\n\tvar width = c.offsetWidth;\n\tvar height = 400;\n\t\n\tvar offsetL = c.offsetLeft + 20;\n\tvar offsetT = c.offsetTop + 10;\n\n\tvar projection,\n\t    path,\n\t    svg,\n\t    g;\n\t\n\tvar graticule = d3.geoGraticule();\n\n\tvar tooltip = d3.select(\"#container\").append(\"div\").attr(\"class\", \"tooltip hidden\");\n\n\tsetup(width, height);\n\n\tfunction setup(width, height) {\n\t\tprojection = d3.geoMercator().translate([(width / 2), (height / 2)]).scale(width / 2 / Math.PI);\n\t\tpath = d3.geoPath().projection(projection);\n\n\t\tsvg = d3.select(\"#container\").append(\"svg\").attr(\"width\", width).attr(\"height\", height).call(zoom).append(\"g\");\n\t\tg = svg.append(\"g\").on(\"click\", click);\n\t}\n\n\n\td3.json(\"http://v1.apps.citus.io/apisrv/sensor-analytics~auth0-system-default-account/data/world-topo-min.json\", function(error, world) {\n\t\tvar countries = topojson.feature(world, world.objects.countries).features;\n\t\ttopo = countries;\n\t\tdraw(topo);\n\t});\n\n\tfunction handleMouseOver() {\n\t\tvar mouse = d3.mouse(svg.node()).map(function(d) {\n\t\t\treturn parseInt(d);\n\t\t});\n\n\t\ttooltip.classed(\"hidden\", false).attr(\"style\", \"left:\" + (mouse[0] + offsetL) + \"px;top:\" + (mouse[1] + offsetT) + \"px\").html(this.__data__.properties.name);\n\t}\n\n\tfunction handleMouseOut() {\n\t\ttooltip.classed(\"hidden\", true);\n\t}\n\n\tfunction draw(topo) {\n\t\tsvg.append(\"path\").datum(graticule).attr(\"class\", \"graticule\").attr(\"d\", path);\n\t\tg.append(\"path\").datum({\n\t\t\ttype : \"LineString\",\n\t\t\tcoordinates : [[-180, 0], [-90, 0], [0, 0], [90, 0], [180, 0]]\n\t\t}).attr(\"class\", \"equator\").attr(\"d\", path);\n\n\t\tvar country = g.selectAll(\".country\").data(topo);\n\n\t\tcountry.enter().insert(\"path\").attr(\"class\", \"country\").attr(\"d\", path).attr(\"id\", function(d, i) {\n\t\t\treturn d.id;\n\t\t}).attr(\"title\", function(d, i) {\n\t\t\treturn d.properties.name;\n\t\t}).style(\"fill\", function(d, i) {\n\t\t\treturn d.properties.color;\n\t\t}).on(\"mouseover\", handleMouseOver).on(\"mouseout\", handleMouseOut);\n\t\t\t\t\n\t\tscope.$watch('msg', function(msg) {//watch for an incoming NR msg\n        \tif (msg) {\n                \n        \t};\n        });\n\n\t}\n\n\tfunction redraw() {\n\t\twidth = c.offsetWidth;\n\t\theight = width / 2;\n\t\td3.select('svg').remove();\n\t\tsetup(width, height);\n\t\tdraw(topo);\n\t}\n\n\tfunction move() {\n\t\t//var t = d3.event.translate;\n\t\tvar t = [d3.event.transform.x, d3.event.transform.y];\n\t\t//var s = d3.event.scale;\n\t\tvar s = d3.event.transform.k;\n\t\tzscale = s;\n\t\tvar h = height / 4;\n\t\tt[0] = Math.min((width / height) * (s - 1), Math.max(width * (1 - s), t[0]));\n\t\tt[1] = Math.min(h * (s - 1) + h * s, Math.max(height * (1 - s) - h * s, t[1]));\n\t\t//zoom.translateBy(t);\n\t\tg.attr(\"transform\", \"translate(\" + t + \")scale(\" + s + \")\");\n\t\t//adjust the country hover stroke width based on zoom level\n\t\td3.selectAll(\".country\").style(\"stroke-width\", 1.5 / s);\n\t}\n\tvar throttleTimer;\n\tfunction throttle() {\n\t\twindow.clearTimeout(throttleTimer);\n\t\tthrottleTimer = window.setTimeout(function() {\n\t\t\tredraw();\n\t\t}, 200);\n\t}\n\t//geo translation on mouse click in map\n\tfunction click() {\n\t\tvar latlon = projection.invert(d3.mouse(this));\t\t\n\t}\n\t//function to add points and text to the map (used in plotting capitals)\n\tfunction addpoint(lon, lat, text) {\n\t\tvar gpoint = g.append(\"g\").attr(\"class\", \"gpoint\");\n\t\tvar x = projection([lon,lat])[0];\n\t\tvar y = projection([lon,lat])[1];\n\t\tgpoint.append(\"svg:circle\").attr(\"cx\", x).attr(\"cy\", y).attr(\"class\", \"point\").attr(\"r\", 1.5);\n\t\tif (text.length > 0) {\n\t\t\tgpoint.append(\"text\").attr(\"x\", x + 2).attr(\"y\", y + 2).attr(\"class\", \"text\").text(text);\n\t\t}\n\t}\n}\n\n(function(scope) {\n\tvar timer = setInterval(function() {\n\t\tif (!window.d3 || !window.d3.zoom)\n\t\t\treturn;\n\t\tdocument.getElementById(\"container\").parentNode.style.height = \"450px\";\n\t\tclearInterval(timer);\n\t\tonDrawGraph();\n    }, 100);\t\t\t\t\n})(scope);\n</script>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":460,"y":480,"wires":[[]]},{"id":"88eb03e4.cf73b","type":"function","z":"ffda1307.64a6e","name":"","func":"if (msg.payload.unit === \"kWh\") {\n    msg.topic = msg.payload.ID.substring(0,10);\n    return msg;\n}","outputs":1,"noerr":0,"x":330,"y":480,"wires":[["8dca3e1a.7bbab"]]},{"id":"e8b9a8a0.c2a2e8","type":"ui_group","z":"","name":"Monitoring","tab":"d1b61274.4d61f","disp":true,"width":"6"},{"id":"cb6d1d16.28de","type":"ui_group","z":"","name":"Environment","tab":"d1b61274.4d61f","disp":true,"width":"6"},{"id":"91fd96ea.b3aed8","type":"ui_group","z":"","name":"Histogram","tab":"d1b61274.4d61f","disp":true,"width":"6"},{"id":"194df3f1.87a96c","type":"ui_group","z":"","name":"Custom Data View","tab":"d1b61274.4d61f","disp":true,"width":"18"},{"id":"d1b61274.4d61f","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]