dashboard-flow.json
[{"id":"6b4c7356.a3b6ec","type":"http in","z":"ffda1307.64a6e","name":"","url":"/event-stream","method":"post","upload":false,"swaggerDoc":"","x":170,"y":140,"wires":[["8f625f7d.944ce","3da20e9c.a9b182","b8a40cbb.5e373","a3b4e4e5.6c8668","a6296ea9.a9b07","3f59127f.4ff48e"]]},{"id":"3da20e9c.a9b182","type":"debug","z":"ffda1307.64a6e","name":"","active":true,"console":"false","complete":"false","x":389,"y":80,"wires":[]},{"id":"8f625f7d.944ce","type":"http response","z":"ffda1307.64a6e","name":"","statusCode":"","headers":{},"x":370,"y":140,"wires":[]},{"id":"d3226e50.15a3a","type":"ui_gauge","z":"ffda1307.64a6e","name":"","group":"e8b9a8a0.c2a2e8","order":0,"width":0,"height":0,"gtype":"gage","title":"Gas Leakage","label":"PPM","format":"{{value}}","min":0,"max":"100","colors":["#03b508","#e6e600","#ca3838"],"seg1":"","seg2":"","x":510,"y":200,"wires":[]},{"id":"34d10654.fe3c1a","type":"ui_gauge","z":"ffda1307.64a6e","name":"","group":"cb6d1d16.28de","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"C","format":"{{temperature}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":510,"y":280,"wires":[]},{"id":"964f3967.bdbdb8","type":"ui_gauge","z":"ffda1307.64a6e","name":"","group":"cb6d1d16.28de","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{humidity}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":500,"y":320,"wires":[]},{"id":"232e7a9e.7ee996","type":"ui_form","z":"ffda1307.64a6e","name":"","label":"","group":"91fd96ea.b3aed8","order":0,"width":0,"height":0,"options":[{"label":"Set Temp to Hot","value":"temp-hot","type":"number","required":true},{"label":"Set Temp to Cool","value":"temp-cool","type":"number","required":true}],"formValue":{"temp-hot":"","temp-cool":""},"payload":"","topic":"","x":370,"y":420,"wires":[["51dc228e.c7114c"]]},{"id":"51dc228e.c7114c","type":"debug","z":"ffda1307.64a6e","name":"","active":true,"console":"false","complete":"false","x":570,"y":420,"wires":[]},{"id":"2e52222b.17c47e","type":"ui_ui_control","z":"ffda1307.64a6e","name":"ui control","x":360,"y":460,"wires":[["51dc228e.c7114c"]]},{"id":"69948461.216bec","type":"ui_switch","z":"ffda1307.64a6e","name":"","label":"Switch Fan On/Off","group":"91fd96ea.b3aed8","order":0,"width":"6","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":330,"y":380,"wires":[["51dc228e.c7114c"]]},{"id":"6e7654a7.6dcccc","type":"ui_gauge","z":"ffda1307.64a6e","name":"","group":"e8b9a8a0.c2a2e8","order":0,"width":0,"height":0,"gtype":"gage","title":"Power Consumption","label":"kWh","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":240,"wires":[]},{"id":"b8a40cbb.5e373","type":"function","z":"ffda1307.64a6e","name":"","func":"if (msg.payload.unit === \"PPM\") {\n    msg.payload = msg.payload.value;\n    return msg;\n}","outputs":1,"noerr":0,"x":370,"y":200,"wires":[["d3226e50.15a3a"]]},{"id":"a3b4e4e5.6c8668","type":"function","z":"ffda1307.64a6e","name":"","func":"if (msg.payload.unit === \"kWh\") {\n    msg.payload = msg.payload.value;\n    return msg;\n}","outputs":1,"noerr":0,"x":370,"y":240,"wires":[["6e7654a7.6dcccc"]]},{"id":"a6296ea9.a9b07","type":"function","z":"ffda1307.64a6e","name":"","func":"msg.payload = msg.payload.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":280,"wires":[["34d10654.fe3c1a"]]},{"id":"3f59127f.4ff48e","type":"function","z":"ffda1307.64a6e","name":"","func":"msg.payload = msg.payload.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":320,"wires":[["964f3967.bdbdb8"]]},{"id":"e8b9a8a0.c2a2e8","type":"ui_group","z":"","name":"Monitoring","tab":"d1b61274.4d61f","disp":true,"width":"6"},{"id":"cb6d1d16.28de","type":"ui_group","z":"","name":"Environment","tab":"d1b61274.4d61f","disp":true,"width":"6"},{"id":"91fd96ea.b3aed8","type":"ui_group","z":"","name":"Remote Control","tab":"d1b61274.4d61f","disp":true,"width":"6"},{"id":"d1b61274.4d61f","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]
