dashboard-flow.json
[{"id":"6b4c7356.a3b6ec","type":"http in","z":"ffda1307.64a6e","name":"","url":"/event-stream","method":"post","upload":false,"swaggerDoc":"","x":130,"y":120,"wires":[["8f625f7d.944ce","3da20e9c.a9b182","b8a40cbb.5e373","a3b4e4e5.6c8668","a6296ea9.a9b07","3f59127f.4ff48e","7d219762.cd3ef8","3a85155b.63acca"]]},{"id":"3da20e9c.a9b182","type":"debug","z":"ffda1307.64a6e","name":"","active":true,"console":"false","complete":"false","x":349,"y":60,"wires":[]},{"id":"8f625f7d.944ce","type":"http response","z":"ffda1307.64a6e","name":"","statusCode":"","headers":{},"x":330,"y":120,"wires":[]},{"id":"d3226e50.15a3a","type":"ui_gauge","z":"ffda1307.64a6e","name":"","group":"e8b9a8a0.c2a2e8","order":0,"width":0,"height":0,"gtype":"gage","title":"Gas Leakage","label":"PPM","format":"{{value}}","min":0,"max":"100","colors":["#03b508","#e6e600","#ca3838"],"seg1":"50","seg2":"75","x":470,"y":180,"wires":[]},{"id":"34d10654.fe3c1a","type":"ui_gauge","z":"ffda1307.64a6e","name":"","group":"cb6d1d16.28de","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"C","format":"{{temperature}}","min":0,"max":"100","colors":["#0080ff","#e6e600","#ca3838"],"seg1":"30","seg2":"40","x":470,"y":260,"wires":[]},{"id":"964f3967.bdbdb8","type":"ui_gauge","z":"ffda1307.64a6e","name":"","group":"cb6d1d16.28de","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{humidity}}","min":0,"max":"100","colors":["#ffff00","#00ff40","#ca3838"],"seg1":"60","seg2":"80","x":460,"y":300,"wires":[]},{"id":"6e7654a7.6dcccc","type":"ui_gauge","z":"ffda1307.64a6e","name":"","group":"e8b9a8a0.c2a2e8","order":0,"width":0,"height":0,"gtype":"gage","title":"Power Consumption","label":"kWh","format":"{{value}}","min":0,"max":"100","colors":["#0080ff","#e6e600","#ca3838"],"seg1":"80","seg2":"90","x":500,"y":220,"wires":[]},{"id":"b8a40cbb.5e373","type":"function","z":"ffda1307.64a6e","name":"","func":"if (msg.payload.unit === \"PPM\") {\n    msg.payload = msg.payload.value;\n    return msg;\n}","outputs":1,"noerr":0,"x":330,"y":180,"wires":[["d3226e50.15a3a"]]},{"id":"a3b4e4e5.6c8668","type":"function","z":"ffda1307.64a6e","name":"","func":"if (msg.payload.unit === \"kWh\") {\n    msg.payload = msg.payload.value;\n    return msg;\n}","outputs":1,"noerr":0,"x":330,"y":220,"wires":[["6e7654a7.6dcccc"]]},{"id":"a6296ea9.a9b07","type":"function","z":"ffda1307.64a6e","name":"","func":"msg.payload = msg.payload.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":260,"wires":[["34d10654.fe3c1a"]]},{"id":"3f59127f.4ff48e","type":"function","z":"ffda1307.64a6e","name":"","func":"msg.payload = msg.payload.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":300,"wires":[["964f3967.bdbdb8"]]},{"id":"1bcef614.7276da","type":"ui_chart","z":"ffda1307.64a6e","name":"","group":"91fd96ea.b3aed8","order":0,"width":0,"height":0,"label":"Gas Leakage (PPM)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":500,"y":360,"wires":[["b6e55d6b.177c7"],["b6e55d6b.177c7"]]},{"id":"7d219762.cd3ef8","type":"function","z":"ffda1307.64a6e","name":"","func":"if (msg.payload.unit === \"PPM\") {\n    msg.topic = msg.payload.ID.substring(0,10);\n    msg.payload = Number(msg.payload.value);\n    return msg;\n}","outputs":1,"noerr":0,"x":330,"y":360,"wires":[["1bcef614.7276da"]]},{"id":"b6e55d6b.177c7","type":"debug","z":"ffda1307.64a6e","name":"","active":true,"console":"false","complete":"false","x":690,"y":360,"wires":[]},{"id":"93cc2875.d98bc8","type":"debug","z":"ffda1307.64a6e","name":"","active":true,"console":"false","complete":"false","x":690,"y":420,"wires":[]},{"id":"816afd46.cb74f","type":"ui_chart","z":"ffda1307.64a6e","name":"","group":"91fd96ea.b3aed8","order":0,"width":0,"height":0,"label":"Power Energy (kWh)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":500,"y":420,"wires":[["93cc2875.d98bc8"],["93cc2875.d98bc8"]]},{"id":"3a85155b.63acca","type":"function","z":"ffda1307.64a6e","name":"","func":"if (msg.payload.unit === \"kWh\") {\n    msg.topic = msg.payload.ID.substring(0,10);\n    msg.payload = Number(msg.payload.value);\n    return msg;\n}","outputs":1,"noerr":0,"x":330,"y":420,"wires":[["816afd46.cb74f"]]},{"id":"e8b9a8a0.c2a2e8","type":"ui_group","z":"","name":"Monitoring","tab":"d1b61274.4d61f","disp":true,"width":"6"},{"id":"cb6d1d16.28de","type":"ui_group","z":"","name":"Environment","tab":"d1b61274.4d61f","disp":true,"width":"6"},{"id":"91fd96ea.b3aed8","type":"ui_group","z":"","name":"Histogram","tab":"d1b61274.4d61f","disp":true,"width":"6"},{"id":"d1b61274.4d61f","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]