notebook-scotches.json
[{"id":"ec0f5ece.6875a","type":"ui_form","z":"1ee2181d.9dea38","name":"","label":"","group":"194df3f1.87a96c","order":0,"width":0,"height":0,"options":[{"label":"Name","value":"name","type":"text","required":true}],"formValue":{"name":""},"payload":"","topic":"","x":70,"y":80,"wires":[["ab963c86.d757c"]]},{"id":"30b5529e.a166fe","type":"http request","z":"1ee2181d.9dea38","name":"","method":"GET","ret":"txt","url":"","x":330,"y":80,"wires":[["1a9d60e.71ced9f"]]},{"id":"61fd5ef5.76945","type":"ui_text","z":"1ee2181d.9dea38","group":"194df3f1.87a96c","order":0,"width":0,"height":0,"name":"","label":"Example: Talisker, Dalwhinnie, Oban","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":80,"wires":[]},{"id":"ab963c86.d757c","type":"function","z":"1ee2181d.9dea38","name":"","func":"msg.url = \"http://v1.apps.citus.io/apisrv/tensorflow-service~auth0-57559bee99ad73c67e37cce4/scotches/\" + msg.payload.name + \"/similar\";\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":80,"wires":[["30b5529e.a166fe"]]},{"id":"1a9d60e.71ced9f","type":"function","z":"1ee2181d.9dea38","name":"","func":"msg.payload = JSON.parse(msg.payload).recommendations.map(function(item) {\n    return item.Name;\n});\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":80,"wires":[["61fd5ef5.76945"]]},{"id":"194df3f1.87a96c","type":"ui_group","z":"","name":"Scotches","tab":"d1b61274.4d61f","disp":true,"width":"18"},{"id":"d1b61274.4d61f","type":"ui_tab","z":"","name":"Notebooks","icon":"notebook"}]